doctype html
html 
    head
        style 
           include ../static/style.css 
    body
    section#introsection
        div Welcome to Dynamic Dance Class
        div.small  Eat Sleep Dance Repeat
    section#missionsection
        h2 Our Mission
        div.card
            p Dance Perfection 
            div.cardbox 
                div.card-img 
                    img(src="/static/4.jpeg")
                div.content 
                    p Our students win a many Awards for our performance.
        div.card 
            p Dance The Way You Like  
             div.cardbox 
                div.card-img 
                    img(src="/static/5.jpeg")
                div.content 
                    p We are teaching Hip-Hop Jazz Swing Bllet and many more.
        div.card 
            p Expert Teaching 
             div.cardbox 
                div.card-img 
                    img(src="/static/logo.jpg")
                div.content 
                    p Expert are teaching . They gots many more medals and awards all over the worlds.
    section#sponsorsection
        h2 Our Sponsors 
        div.box
            div.img 
                img(src="/static/d5.jpeg")
        div.box
            div.img 
                img(src="/static/d6.jpeg")
        div.box
            div.img 
                img(src="/static/d1.jpeg")
        div.box
            div.img 
                img(src="/static/facebook.png")
        div.box 
            div.img 
                img(src="/static/google.png")        
        div.box2
            div.img 
                img(src="/static/d2.jpeg")
        div.box2
            div.img 
                img(src="/static/d3.jpeg")   
        div.box2
            div.img 
                img(src="/static/d4.jpeg")
        div.box2
            div.img 
                img(src="/static/d7.jpeg")                
    footer#footer 
        p copyright &copy; www.ayushidanceacademy.com      
        p All rights reserved!                  
    script 
        include ../static/script.js

